{% load static %}
<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Shenron }}</title>
    <link rel="stylesheet" href="{% static 'resetPassword.css' %}">
  </head>
  <body>


    <div class="header-container">
      <header class="header">
          <a href="{% url 'home' %}" class="logo">Shenron</a>

          <nav class="navbar">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'movies' %}">Movies</a>
          <a href="{% url 'favourite_list' %}">Favourites</a>
          <a href="{% url 'forum' %}">Forums</a>
          <a href="{% url 'profile' %}">Profile</a>
          </nav>
          <div><a href="{% url 'search' %}"><button class="button2">Search</button></a>
            {% if user.is_authenticated %}
            <a class="logout" href="{% url 'logout' %}"><button class="button2">log out</button></a>
            {% else %}
            <a class="logout" href="{% url 'login' %}"><button class="button2">sign in</button></a>
            {% endif %}
          </div>
      </header>
    </div>


    <div class="container">
      <div class="profile-container">

        <h1 class="profile-title">Shenron Profile</h1>

            <div class="profile-section">
                <img src="{% static 'logo/logo.png' %}" alt="Profile Image" class="profile-image">
                <div class="profile-username">{{ username }}</div>

            </div>
    </div>


    <div class = "profile-info">
    <form method="post">
        {% csrf_token %}
        <input type="password" id="old_password" name="old_password" placeholder="Old Password" required>
        <input type="password" id="new_password" name="new_password" placeholder="New Password" required>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
        <button class ="button2" type="submit">Reset</button>
    </form>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

    </div>
    </div>
  </body>