{% load static %}
<!doctype html>
{#<html lang="en">#}
{#<head>#}
{#  <meta charset="UTF-8">#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#  <title>Document</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Shenron }}</title>
    <link rel="stylesheet" href="{% static 'all_movies.css' %}">
  </head>
  <body>

    <div class="header-container">
      <header class="header">
          <a href="{% url 'home' %}" class="logo">Shenron</a>

          <nav class="navbar">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'movies' %}">Movies</a>
          <a href="{% url 'favourite_list' %}">Favourites</a>
          <a href="{% url 'forum' %}">Forums</a>
          </nav>
          <div><a href="{% url 'search' %}"><button class="button2">Search</button></a>
            {% if user.is_authenticated %}
            <a class="logout" href="{% url 'logout' %}"><button class="button2">log out</button></a>
            {% else %}
            <a class="logout" href="{% url 'login' %}"><button class="button2">sign in</button></a>
            {% endif %}</div>
      </header>
  </div>
    <div class="desktop">
      <div class="div">

        {% for movie in movies %}
            <div class="reacher">
              <div class="frame">
                <div class="frame-2">
                  <div class="frame-3">
                    <div class="frame-2"><a href="{{movie.id}}/"><img class="rectangle" src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" alt="{{ movie.title }}" /></a></div>
                    <div class="frame-4">
                      <div class="frame-5">
                        <img class="zondicons-time" src="{% static 'logo/gold-star.png' %}" />
                        <div class="text-wrapper">Rating: {{ movie.vote_average }}</div>
                      </div>
                      <div class="frame-6">
                        <img class="zondicons-time" src="{% static 'logo/white_clock.png' %}" />
                        <div class="text-wrapper-2">Duration: {{ movie.runtime }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                  <br>
              <button class="titlebutton"><a href="{{movie.id}}/">{{ movie.title }}</a>
              </button>
          </div>
        </div><br><br><br><br>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
