{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>{{ Shenron }}</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
  </head>
  <body>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <div class="desktop">
      <div class="div">
        <div class="example">Welcome to<br /><br />Shenron</div>
        <div class="state-layer-wrapper">
          <button class="titlebutton"><a href="{% url 'movies' %}">View Our Website</a></button>
        </div>
        <img class="whatsapp-image" src="{% static 'logo/logo.png' %}" alt="Shenron"/>
      </div>
    </div>
  </body>
</html>
