{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.title }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="header-container">
      <header class="header">
          <a href="{% url 'home' %}" class="logo">Shenron</a>

          <nav class="navbar">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'movies' %}">Movies</a>
          <a href="{% url 'favourite_list' %}">Favourites</a>
          <a href="{% url 'forum' %}">Forums</a>
          </nav>
          <div><a href="{% url 'search' %}"><button class="button2">Search</button></a>
            {% if user.is_authenticated %}
            <a class="logout" href="{% url 'logout' %}"><button class="button2">log out</button></a>
            {% else %}
            <a class="logout" href="{% url 'login' %}"><button class="button2">sign in</button></a>
            {% endif %}</div>
      </header>
  </div>
        <div class="backdrop-container">
            <img class="backdrop" src="https://image.tmdb.org/t/p/original{{ movie.backdrop_path }}" alt="{{ movie.title }} Backdrop">
        </div>
        <div class="movie-poster">
            <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" alt="{{ movie.title }} Poster">
        </div>
        <div class="movie-details">
            <h1>{{ movie.title }}</h1>
            <div class="movie-info">
                <span>Rating: {{ movie.vote_average }}/10 ({{ movie.vote_count }} votes)</span>
                <span>Release Date: {{ movie.release_date }}</span>
                <span>Runtime: {{ movie.runtime }} minutes</span>
                <span>Status: {{ movie.status }}</span>
            </div>

            <h2>Overview</h2>
            <p>{{ movie.overview }}</p>

            <div class="additional-info">
                <p><strong>Original Language:</strong> {{ movie.original_language }}</p>
                <p><strong>Budget:</strong> ${{ movie.budget }}</p>
                <p><strong>Revenue:</strong> ${{ movie.revenue }}</p>
                <p><strong>Genres:</strong> {{ movie.genres }}</p>
                <p><strong>Keywords:</strong> {{ movie.keywords }}</p>

                {% if movie.adult %}
                    <p><strong>Adult:</strong> Yes</p>
                {% else %}
                    <p><strong>Adult:</strong> No</p>
                {% endif %}
           <h2>Trailers</h2>
                <ul class="trailers-list">
                    {% for trailer, image in trailers %}
                        <li class="trailer-item">
                            <a href="{{ trailer }}" target="_blank">
                                <img src="{{ image }}" alt="Trailer Thumbnail">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            <h2>See what others think of this movie!</h2>
            <div style="margin-top: 20px; margin-bottom: 20px; padding-top: 5px; padding-bottom: 5px;">
                <a href="{% url 'movie_reviews' movie.id %}" class="btn btn-warning">{{ movie.title }} Reviews</a>
            </div>
            <h2>Want to add this movie to your favourites list</h2>
            <div style="margin-top: 20px; margin-bottom: 20px; padding-top: 5px; padding-bottom: 5px;">
                {% if movie in user.favourites.movies.all %}
                <button class="btn btn-warning" disabled>Already in Favorites</button>
                {% else %}
                <a
                        href="{% url 'add_to_favorites' movie.id %}"
                        class="btn btn-warning"
                        style="margin-top: 20px; margin-bottom: 20px; padding-top: 5px; padding-bottom: 5px;">Add to Favorites</a>
                {% endif %}
            </div>
            <h2>Want to review this movie?</h2>
            <div style="margin-top: 20px; margin-bottom: 20px; padding-top: 5px; padding-bottom: 5px;">
                <a href="{% url 'create_review' movie.id %}" class="btn btn-warning">Review</a>
            </div>
            </div>
        </div>

</body>
</html>
