{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'post.css' %}">
</head>
<body>
        <div class="header-container">
      <header class="header">
          <a href="{% url 'home' %}" class="logo">Shenron</a>
          <nav class="navbar">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'movies' %}">Movies</a>
          <a href="{% url 'favourite_list' %}">Favourites</a>
          <a href="{% url 'forum' %}">Forums</a>
          <a href="{% url 'user_reviews' %}">Reviews</a>
          </nav>
          <div><a href="{% url 'search' %}"><button class="button2">Search</button></a>
            {% if user.is_authenticated %}
            <a class="logout" href="{% url 'logout' %}"><button class="button2">log out</button></a>
            {% else %}
            <a class="logout" href="{% url 'login' %}"><button class="button2">sign in</button></a>
            {% endif %}</div>
      </header>
  </div>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>by {{ post.author }} on {{ post.created_at }}</p>

    {% if perms.forum.delete_post or post.author == user %}
        <form method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" name="delete_post">Delete Post</button>
        </form>
    {% endif %}

    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>
                {{ comment.content }} - {{ comment.author}}
                {% if perms.forum.delete_comment or comment.author == user %}
                    <form method="post" action="{% url 'post_detail' post.id %}" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <button type="submit" name="delete_comment">Delete</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    

    <h2>Create a New Comment</h2>
    <form method="post">
        {% csrf_token %}
        <textarea name="comment" placeholder="Comment Content" required></textarea>
        <button type="submit">Create Comment</button>
    </form>
</body>
</html>
