{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'movie_reviews.css' %}">
    <title>{{ movie.title }} Reviews</title>
</head>
<body>
    <div class="header-container">
      <header class="header">
          <a href="{% url 'home' %}" class="logo">Shenron</a>

          <nav class="navbar">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'movies' %}">Movies</a>
          <a href="{% url 'favourite_list' %}">Favourites</a>
          <a href="{% url 'forum' %}">Forums</a>
          <a href="{% url 'user_reviews' %}">Reviews</a>
          </nav>
          <div><a href="{% url 'search' %}"><button class="button2">Search</button></a>
            <a class="logout" href="{% url 'logout' %}"><button class="button2">log out</button></a>
          </div>
      </header>
    </div>
  <div class="reviews-container">
        <h1>{{ movie.title }}'s Reviews</h1>
        <div class="reviews">
            {% for review in reviews %}
            <div class="review">
                <h2>Title: {{ review.movie.title }}</h2>
                <p>Reviewer: {{ review.user.username }}</p>
                <p>Plot: {{ review.plot }}/5</p>
                <p>Acting: {{ review.acting }}/5</p>
                <p>Pace: {{ review.pacing }}/5</p>
                <p>Soundtrack: {{ review.music }}/5</p>
                <p>Character Development: {{ review.character_development }}/5</p>
                <p>Cinematography: {{ review.cinematography }}/5</p>
                <p>Verbal review: {{ review.overall}}</p>
                <p>Reviewed on: {{ review.created_at }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
